*.bak
*.zip
*.rar
*.7z
#*.tar
*.tgz
*.mp3
#*.mp4
*.tar.gz
*.db
*.log
#config.json
*.orig
__pycache__/*
lib/__pycache__/*
tmp/*
img/*
img2/*
log/*
output/*
html/media/*
data/log/*
data/var/*
vendor/*
composer.*
data/token.json
data/config.json
*.mov
*.gif
*.mp4
*.png
*.jpg
*.json